/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */ /*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* ==================== framework ==================== */
html, body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns:  clamp(167px, 12%, 220px) 1fr;
  /* grid-template-rows: clamp(100px, 15%, 130px) 1fr; */
  grid-template-rows: 120px 1fr;
  /* text-align: center; */
  height: 100%;
  box-sizing: border-box;
}

.sidebar {
  background-color: #16A34A;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.header {
  background-color: #ffffff;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.dashboard {
  background-color: #e0e7ef;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

p, h2, h3, h4 {
  padding: 0%;
  margin: 0%;
}

/* ==================== sidebar ==================== */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 50px;

  padding-top: 20px;
  padding-left: 20px;

  font-size: large;
  font-weight: bolder;
  color: antiquewhite;
}

.sidebar > :not(.logo) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;

  font-size: 1.4rem;
}

.sidebar > :not(.logo) > * {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* ==================== header ==================== */
.header {
  display: grid;
  grid-template-rows: 50px 50px;

  padding: 5px 20px;
  font-size: 1.4rem;
  font-weight: bolder;
  color: black;
}

.nav {
  grid-row: 1 / 2;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

}

.nav > .left {
  display: flex;
  justify-content: flex-start;
  column-gap: 5px;
}

.nav > .right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  column-gap: 40px;
}

.banner {
  grid-row: 2 / 3;
  display: flex;
  
  justify-content: space-between;
}

.banner > .left {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.banner > .right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 20px;
}

/* =================== dashboard ================== */
.dashboard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-width: 775px;
}

.dashboard > * > * {
  margin: 12px 12px;
}

/* project grid elements */
.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 12px 12px;
}

.grid-item {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;

  padding: 12px;
  background-color: #ffffff;
  width: clamp(250px, 80%, 375px);
  height: 200px;
  padding: 5px;

  border-radius: 12px;
  border-left-style: solid;
  border-left-width: 12px;
  border-color: aqua;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.grid-item > * {
  padding: 12px 5px;
}

.grid-item .buttons {
  justify-self: end;
}

/* side items */
.side-items {
  display: flex;
  flex-direction: column;
  padding:  0 12px;
  margin: 0%;
}

.side-items > * {
  margin: 0%;
}
.side-items > * > h2 {
  padding: 12px 0;
}
.side-items > * > div {
  height: auto;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


/* trending */
.trending-block {
  padding: 5px;

}
.user {
  display: flex;
  width: 180px;
  margin: 15px 0%;
  padding-left: 4px;
}


/* =================== inputs ================== */
input {
  appearance: none;
}

input[type="search"] {
  border-radius: 10px;
  width: clamp(100px, 300px, 500px);
  height: 2rem;

  background-color: #e0e7ef
}

button {
  display: block;
  margin: 0;
  padding: 5px 12px;
  color: antiquewhite;
  font-size: 1.2rem;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 12px;

  outline: none;
  border: none;
  background-color: #16A34A
}